<?xml version="1.0" encoding="UTF-8" ?>
<!-- MaterialEditor Config-->
<!--<Configuration plugin="Starter3D.Plugin.MaterialEditor" window="WPFWindow" renderer="OpenGL" 
               scene="files/scenes/testCamera.xml" resources="files/resources/resources.xml"
               width="512" height="512" frameRate="60"/>-->

<!-- PixelShader Config-->

<Configuration plugin="Starter3D.Plugin.PixelShader" window="WPFWindow" renderer="OpenGL"
               scene="files/scenes/pixelShaderScene.xml" resources="files/resources/pixelShaderResources.xml"
               width="512" height="512" frameRate="60"/>


